/* src/styles/Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  color: rgb(0, 0, 0);
  padding: 1rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links a:hover {
  text-decoration: underline;
}
