<nav class="navbar">
  <div class="logo-container">
    <a href="/" class="logo">
      <img
        src="/src/components/imgs/openshelflogo.png"
        alt="Open Shelf Logo"
        class="logo-image"
      />
      alt="Open Shelf Logo" class="logo-image" />
      <h1 class="logo-text">Open<br />Shelf</h1>
    </a>
  </div>
  <ul class="nav-links">
    <li><a href="/browse">Browse Books</a></li>
    <li><a href="/manage">Manage My Shelf</a></li>
  </ul>
  <div class="account-btn-container">
    <button class="account-btn">My Account</button>
  </div>
</nav>
